.inputParent {
    width: 80%;
    margin: 0.8rem 0 0 0;
}

.inputTitle {
    color: #3bb77e;
    font-weight: bold;
    font-size: smaller;
    margin: 0 0 0.1rem 0.2rem;
}

.input {
    width: 100%;
    outline: none;
    cursor: pointer;
    padding: 1rem 0.8rem;
    border-radius: 0.25rem;
    transition: all 0.5s ease 0s;
    border: 0.1rem solid #ececec;
}

.input:hover {
    border: 0.1rem solid black;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}