.cartParent {
    width: 100%;
    display: flex;
    padding-top: 2rem;
    align-items: center;
    padding-bottom: 1rem;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
}

.cartChild {
    width: 90%;
    display: flex;
    border-radius: 1rem; 
    margin-bottom: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ececec;
    padding: 2rem 2rem 1rem 2rem;
    box-shadow: 0 7px 29px 0 rgb(100 100 111 / 20%);
}

.cartTable {
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

.tableContainer {
    width: 100%;
    overflow: auto;
}

.tableContainer::-webkit-scrollbar {
    display: none;
}

.cartTableTitle {
    color: #253D4E;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px 20px;
    background-color: #dcf2e5;
}

.footerParent {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
}

.totalTitle {
    color: #253D4E;
    font-size: small;
    font-weight: 500;
}

.totalTitleMobile {
    display: none;
}

@media screen and (max-width: 700px) {
    .cartChild {
        padding: 1rem;
        display: block;
    }

    .totalTitle {
        display: none;
    }

    .totalTitleMobile {
        color: #253D4E;
        font-size: small;
        font-weight: 500;
        display: inline-block;
    }
}