.cartParent {
    width: 100%;
    display: flex;
    margin-top: 3rem;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
}

.cartTable {
    width: 80%;
    margin-top: 4rem;
    font-family: 'Quicksand', sans-serif;
}

.cartTableTitle {
    color: #253D4E;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px 20px;
    background-color: #dcf2e5;
}

.emptyCartContainer {
    width: 90%;
    display: flex;
    margin-top: 5rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.emptyCartContent {
    font-size: 1rem;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}



@media screen and (max-width: 700px) {
    .stepsDivider {
        width: 10%;
    }

    .cartTable {
        display: block;
        overflow: auto;
    }
}