@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400&display=swap');

.footerParent {
    width: 100%;
    display: flex;
    margin-bottom: 8vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.footerParentContainer {
    display: flex;
    align-items: center;
    margin: 2rem 4rem;
    justify-content: space-evenly;
}

.footerContainer {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.containerTitle {
    margin: 0;
    color: #253d4e;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

.footerMainTitle {
    margin-top: 0;
    color: #3bb77e;
    font-weight: bold;
    font-size: xxx-large;
    margin-bottom: 10px;
    font-family: 'Londrina Solid';
}

.containerDescription {
    color: #253d4e;
    margin: 0.8rem 0;
    font-size: medium;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.footerUsefulLinksAndPartnersContainer {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.containerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.containerLinksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerLinksContainer:hover .containerIcon, .containerLinksContainer:hover .containerContent  {
    color: #3bb77e;
}

.containerIcon {
    color: #253d4e;
    margin-right: 5px;
}

.containerContent {
    color: #253d4e;
    margin: 0.7rem 0;
    font-size: small;
    text-align: center;
    cursor: pointer;
}

.containerContent:hover {
    color: #3bb77e;
}

.footerCopyright {
    display: flex;
    margin-top: 5px;
    color: #253d4e;
    font-size: small;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .footerParentContainer {
        margin: 0;
        margin-top: 2rem;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .footerUsefulLinksAndPartnersContainer {
        width: 90%;
        margin: 20px 0;
    }

    .footerContainer {
        width: 90%;
        margin-bottom: 15px;
    }

    .containerTitle {
        margin-bottom: 5px;
    }

    .containerContent {
        margin: 0.4rem 0;
    }
}