.yourCartParent {
    width: 90%;
    height: 30vh;
    display: flex;
    margin: 0 0 2rem 0;
    align-items: center;
    border-radius: 1.2rem;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-position: initial;
    background-repeat: no-repeat;
    background-image: url("../../public/static/cart.png");
}

.yourCartTitle {
    margin: 0;
    font-size: 3rem;
    color: #253D4E;
    font-weight: 700;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.yourCartContent {
    width: 90%;
    color: #253D4E;
    font-size: large;
    font-weight: 700;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.yourCartRoute {
    margin: 0;
    color: grey;
    font-size: small;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}

.from {
    color: green;
    cursor: pointer;
}

.from:hover {
    color: #FDC040;
}