.aboutParent {
    width: 100%;
    display: flex;
    padding-top: 2rem;
    align-items: center;
    padding-bottom: 1rem;
    flex-direction: column;
    justify-content: center;
}

.whoWeAreParent {
    width: 88%;
    display: flex;
    margin: 2rem 0;
    align-items:  center;
    justify-content: space-between;
}

.whoWeAreContainer {
    width: 48%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title {
    width: 100%;
    margin-top: 0;
    font-size: 3rem;
    color: #253D4E;
    font-weight: bold;
    margin-bottom: 0.75rem;
    font-family: 'Rajdhani';
}

.aboutContent {
    margin: 0;
    color: #363636;
    line-height: 1.5;
    font-weight: 300;
}

.whoWeAreContainerImage {
    width: 90%;
    border-radius: 0.5rem;
}

.believeParent {
    width: 90%;
    display: flex;
    margin: 2rem 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.believeChild {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    align-items: flex-start;
    justify-content: space-evenly;
}

.believeContainer {
    width: 23%;
    display: flex;
    align-items: center;
    padding: 1rem 0.25rem;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #3bb77e;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.believeContainer:hover {
    border: 1px solid #229954;;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.believeTitle {
    color: #253D4E;
    margin: 0.5rem 0;
    font-size: x-large;
    text-align: center;
}

.imagesParent {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.imagesChild {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagesContainer {
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.image {
    width: 90%;
    height: 40vh;
    margin: 0.5rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.middleImage {
    width: 30%;
    border-radius: 0.5rem;
    height: calc(80vh + 1rem);
}

.behindParent {
    display: flex;
    padding: 2rem;
    margin: 2rem 0;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    background-size: cover;
    width: calc(90% - 2rem);
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url("/static/greenBg.png");
}

.behindChild {
    width: 88%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
}

.creatorImage {
    border-radius: 1rem;
    background: rgba(0,0,0,0.05);
}

.creatorLinksContainer {
    width: 70%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-evenly;
}

.creatorLinksMobileContainer {
    display: none;
}

.creatorLinks {
    cursor: pointer;
    color: #253D4E;
    font-size: x-large;
}

.creatorLinks:hover {
    color: #3bb77e;
}

.creatorTitle {
    margin-top: 0;
    font-weight: bold;
    font-size: x-large;
    font-family: "Quicksand";
}

@media screen and (max-width: 1100px) {
    .believeContainer {
        width: 45%;
        margin-bottom: 1rem;
    }

    .imagesContainer {
        width: 48%;
    }

    .image {
        width: 95%;
    }

    .middleImage {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .whoWeAreParent {
        margin: 0;
        flex-direction: column-reverse;
    }

    .whoWeAreContainer {
        width: 100%;
    }

    .title {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .whoWeAreContainerImage {
        width: 100%;
    }

    .believeContainer {
        width: 100%;
    }

    .imagesChild {
        flex-direction: column;
    }

    .imagesContainer {
        width: 100%;
    }

    .image {
        width: 100%;
    }

    .behindParent {
        width: 90%;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    .behindChild {
        width: 100%;
        flex-direction: column;
    }

    .creatorLinksContainer {
        display: none;
    }

    .creatorLinksMobileContainer {
        width: 80%;
        display: flex;
        margin-top: 0;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: space-evenly;
    }

    .creatorTitle {
        margin: 1rem 0;
    }
}