.aboutParent {
    height: 85vh;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-position: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: url("../../public/static/images/aboutbg4.jpeg");
}

.leftContainer {
    width: 40%;
    margin: 0 4%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title{
    color: #fff;
    font-size: 3.5rem;
    margin: 0 0 1rem 0;
    background-clip: text;
    background-size: 200% auto;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    font-family: "Londrina Solid",Sans-serif;
    background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.content {
    margin: 0;
    color: black;
    line-height: 1.2;
    font-size: large;
    text-align: center;
}

.rightContainer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fastFoodImages {
    border-radius: 15px;
}

@media screen and (max-width: 1000px) {
    .aboutParent {
        width: 100%;
        padding: 5%;
        height: auto;
        align-items: center;
        flex-direction: column;
        background-image: url("../../public/static/images/aboutbg4Vertical.jpeg");
    }

    .leftContainer {
        width: 90%;
        margin: 6% 4%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .content {
        width: 100%;
    }

    .rightContainer {
        width: 70%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 750px) {
    .aboutParent {
        padding: 50px 5%;
    }

    .rightContainer {
        width: 100%;
    }

    .fastFoodImages {
        max-width: 90%;
    }
}