.bannerParent {
    background-Image: url("/static/images/hungryBannerImage.jpeg");
    width: 100%; 
    height: 50vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannerStyle {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 50%;
}

.title {
    color: white;
    font-size: xxx-large;
    margin: 0;
    text-align: center;
    font-family: math;
}

@media screen and (max-width: 750px) {
    .bannerStyle {
        padding-left: 0;
        background-size: contain;
    }
}