@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap'); /* title */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap'); /* menuContent */

.titleBarParent {
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000;
    color: white;
    position: fixed;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.titlePartOne {
    font-size: x-large;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Londrina Solid', cursive;
}

.title:hover .titlePartOne {
    color: rgb(255, 111, 111);
}

.titlePartTwo {
    font-size: xx-large;
    color: rgb(255, 111, 111);
    font-family: 'Londrina Solid', cursive;
}

.title:hover .titlePartTwo {
    color: rgba(0, 0, 0, 0.75);
}

/* For big screens */

.bigScreenContainer {
    height: 100%;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
}

.titleBarMenuParent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleBarMenuContent {
    margin: 0 20px;
    cursor: pointer;
    font-size: large;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Work Sans', sans-serif;
}

.titleBarMenuContent:hover {
    color: rgb(255, 111, 111);
}

/* For small screens */

.smallScreenContainer {
    display: none;
}

.menuIcons {
    margin: 0 10px;
    cursor: pointer;
    font-size: medium;
    color: rgba(0, 0, 0, 0.75);
}

.menuIcons:hover {
    color: rgb(255, 111, 111);
}

@media screen and (max-width: 1000px) {
    /* For big screens */

    .bigScreenContainer {
        display: none;
    }

    /* For small screens */

    .smallScreenContainer {
        height: 100%;
        display: flex;
        padding: 0 5%;
        align-items: center;
        justify-content: space-between;
    }

    .menuIcons {
        font-size: large;
    }
}

@media screen and (max-height: 700px) {
    .titleBarParent {
        height: 12vh;
    }
}