.previousOrdersParent {
    display: flex;
    padding-top: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.previousOrdersChild {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.previousOrdersContainer {
    width: 28%;
    height: 40vh;
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid #ececec;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0 7px 29px 0 rgb(100 100 111 / 20%);
}

.orderImageTitleAndDeliveryStatus {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    border-bottom: 2px solid #ececec;
}

.orderImageAndTitle {
    display: flex;
}

.orderImage {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

.orderFrom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.orderFromTitle {
    margin: 0
}

.previousOrdersContainerContent {
    margin: 0;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 1075px) {
    .previousOrdersContainer {
        width: 35%;
    }
}

@media screen and (max-width: 850px) {
    .previousOrdersContainer {
        width: 90%;
    }
}