.confirmOrderParent {
    width: 100%;
    display: flex;
    padding: 2rem 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.orderDetails {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.couponButtonContainer {
    width: 100%;
    display: flex;
    margin: 1rem 0;
    padding: 0 1rem;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #F4F6FA;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.couponTitle {
    margin: 0;
    color: #253D4E;
    padding: 1rem 0;
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 1rem;
    font-family: 'Quicksand', sans-serif;
}

.couponButtonText {
    cursor: pointer;
    color: #3bb77e;
    transition: all .3s ease 0s;
}

.couponButtonText:hover {
    color: #FDC040;
}

.couponParent {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.couponInputAndErrorContainer {
    width: 60%;
}

.inputText {
    color: gray;
    font-weight: 400;
    font-size: 0.85rem;
    font-family: sans-serif;
}

.couponContainerDiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
}

.couponContainer {
    width: 48%;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ececec;
    background-color: #dcf2e5;
}

.couponContainer:hover {
    border: 1px solid #3bb77e;
}

.couponDiv {
    display: flex;
    cursor: pointer;
    padding: 0.75rem;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    background-color: #F4F6FA;
    box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
}

.coupon {
    margin: 0;
    color: #253D4E;
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 0.4rem;
    font-family: 'Quicksand', sans-serif;
}

.couponDetail {
    margin: 0;
    color: #253D4E;
    font-size: small;
    text-align: center;
    margin-top: 0.5rem;
    font-family: 'Quicksand', sans-serif;
}

.couponAppliedContainer {
    bottom: 3%;
    width: 30%;
    display: flex;
    color: white;
    position: fixed;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    background-color: #FDC040;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 1000px) {
    .couponContainer {
        width: 100%;
    }

    .couponAppliedContainer {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .couponAppliedContainer {
        width: 80%;
    }
}