@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap'); /* title */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap'); /* menuContent */

.titleBarParent {
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000;
    color: white;
    position: fixed;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.titlePartOne {
    cursor: pointer;
    font-size: x-large;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Londrina Solid', cursive;
}

.title:hover .titlePartOne {
    color: rgb(255, 111, 111);
}

.titlePartTwo {
    cursor: pointer;
    font-size: xx-large;
    color: rgb(255, 111, 111);
    font-family: 'Londrina Solid', cursive;
}

.title:hover .titlePartTwo {
    color: rgba(0, 0, 0, 0.75);
}

/* For big screens */

.bigScreenContainer {
    height: 100%;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
}

.titleBarMenuParent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleBarMenuContent {
    margin: 0 20px;
    cursor: pointer;
    font-size: large;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Work Sans', sans-serif;
}

.titleBarMenuContent:hover {
    color: rgb(255, 111, 111);
}

.brandsToggle {
    display: none;
}

.brandsParent:hover .brandsToggle {
    display: inline-block;
    color: rgb(255, 111, 111);
}

.cartContainer {
    display: flex;
    margin: 0 20px;
    align-items: center;
    justify-content: center;
}

.cartQuantity {
    margin: 0;
    display: flex;
    width: 1.2rem;
    height: 1.2rem;
    font-size: x-small;
    border-radius: 50%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    background-color: green;
}

/* For small screens */

.smallScreenParent {
    display: none;
}

.menuIcons {
    margin: 0 10px;
    cursor: pointer;
    font-size: medium;
    color: rgba(0, 0, 0, 0.75);
}

.menuIcons:hover {
    color: rgb(255, 111, 111);
}

/* Empty Cart Error */

.emptyCartErrorContainer {
    left: 40%;
    bottom: 2%;
    position: fixed;
    border-radius: 5px;
    background-color: red;
}

.emptyCartErrorTitle {
    margin: 0.8rem;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    /* For big screens */

    .bigScreenContainer {
        display: none;
    }

    /* For small screens */

    .smallScreenParent {
        height: 100%;
        display: flex;
        padding: 0 5%;
        align-items: center;
        justify-content: space-between;
    }

    .smallScreenContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menuIcons {
        font-size: large;
    }
   
    /* Empty Cart Error */

    .emptyCartErrorContainer {
        left: 20%;
    }
}

@media screen and (max-height: 700px) {
    .titleBarParent {
        height: 15vh;
    }
}