@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap'); /* Title */

.loginParent {
    background-size: contain;
    background-color: white;
    background-repeat: repeat;
    background-position: center;
}

.loginChild {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backButtonContainer {
    top: 3%;
    left: 2%;
    z-index: 1;
    display: flex;
    color: white;
    position: fixed;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #3bb77e;
}

.backButton {
    font-size: x-large;
}

.loginContainer {
    width: 40%;
    opacity: 0.95;
    display: flex;
    padding: 2rem 0;
    border-radius: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.heading {
    margin: 0;
    color: #3bb77e;
    font-size: 2.5rem;
    text-decoration: underline;
    font-family: 'Lobster Two', cursive;
}

.subHeading {
    color: black;
    margin: 0.3rem 0;
    text-align: center;
    font-size: 0.85rem;
}

.inputText {
    color: grey;
    font-size: small;
}

.stateParent {
    width: 60%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.inputText {
    color: gray;
    font-weight: 400;
    font-size: 0.85rem;
    font-family: sans-serif;
}

.indianStatesContainer {
    top: 110%;
    width: 100%;
    height: 30vh;
    overflow: auto;
    padding: 0.5rem 0;
    position: absolute;
    border-radius: 1rem;
    background-color: white;
    border: 1px solid #ececec;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
}

.indianStatesTitle {
    margin: 0;
    width: 100%;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.indianStatesTitle:hover {
    background-color: rgba(25, 118, 210, 0.08);
}

.loginDetails {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.inputContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.error {
    color: red;
    font-size: small;
    text-align: start;
    margin: 0 0 0 0.5rem;
}

.fillInputProperlyError {
    bottom: 3%;
    padding: 15px;
    position: fixed;
    border-radius: 5px;
    background-color: red;
}

@media screen and (max-width: 800px) {
    .loginContainer {
        width: 90%;
    }
}

