@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap'); /* Description */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap'); /* One */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); /* Howl */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap'); /* Title */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap'); /* menuContent */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a, p {
  transition: all .3s ease 0s;
}
